*{
    box-sizing: border-box !important;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.white{
    color: white;
}
.black{
    color: black;
}
.bgwhite{
    background-color: white;
}

a{
    text-decoration: none;
}

#nav{
    /* padding: 20px; */
    background-color: rgb(240, 128, 128);
}


#nav ul{
    list-style-type: none;
}

#nav a{
    color: white;
}


.nav{
    display: flex;
}


.nav li{
    padding: 20px;
    /* margin-left: 10px; */
}

 .nav li:hover {
    background-color: white;
}
.nav li:hover a{
    color: black !important;
}


.active{
    background-color: white;
    color: black !important;

}
.active a{
    color: black !important;
}




.headcover{
    box-sizing: border-box;

    text-align: center;
    height: 400px;
    background-image: url('../img/bgcover.jpg');
    background-size: cover;
    opacity: 0.8;
}

.head_title{
    color: white;
    margin-left: 0px;
    margin-right: 0px;
}

.layer{
    background-color: black;
    height: 100%;
    opacity: 0.6;
    padding: 40px;
    padding-top: 50px;
}



#services,#banner{
    padding: 20px;
}


.section_title{
    text-align: center;
    margin: 30px;
    margin-top: 3em;
    
}


.container{
    display: flex;
    height: 400px;
    /* background-color: lightgray; */
    padding: 30px;
}

.service{
    /* background-color: rgb(240, 128, 128); */
    flex: 30%;
    border-radius: 10px;
    padding: 40px;
    margin: 40px;
    text-align: center;
}

.service h4{
    margin-top: 20px;
}

.service i{
    font-size: 50px;
}

.service p{
    margin-top: 10px;
}


#banner{
    background-color: #c0c0c061;
}

.btext h2{
    margin-top: 100px;
    
}

.btext p{
    margin-top: 20px;
}


.col{
    /* background-color: skyblue; */
    flex: 30%;
    margin: 5px;
    display: flex;
}

.subcol{
flex: 50%;
}

.subcol img{
    margin: 10px;
    width: 90%;
}
.subcol p, .subcol h3, .subcol code{
    padding: 10px;
}

#contact{
    background-color: #fa6464;
    display: flex;
    align-items: center;
    justify-content: center;
   
}



.forminput{
    padding: 10px;
    
}
.forminput label{
    display: block;
    margin-bottom: 2px;
}

.forminput input {
    width: 300px;
    border-radius: 3px;
    padding: 3px;
    height: 30px;
    border: none;
}

.forminput textarea{
    border-radius: 3px;
    width: 300px;
    resize: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


.button{
    margin: 5px;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: lightgreen;
    float:right;
    cursor: pointer;
}